
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	<link rel="shortcut icon" href="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.iconshock.com%2Fimg_vista%2FSUPERVISTA%2Fanimals%2Fjpg%2Fsparrow_icon.jpg&f=1" type="image/icon"> <link rel="icon" href="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.iconshock.com%2Fimg_vista%2FSUPERVISTA%2Fanimals%2Fjpg%2Fsparrow_icon.jpg&f=1" type="image/icon">
	<title>Moineau</title>
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet"/>
	<link href="/stylesheets/style.css" rel="stylesheet"/>

